<template>
	<div class="parent">
		<super-form :config="config" :model="dynamicValidateForm" />
	</div>
</template>
<script>
import { reactive, toRefs, computed } from "vue"
import { useRouter } from "vue-router"
import SuperForm from '@/components/SuperForm'
// import { addRoutes } from "@/router"
import api from '@/api'

export default {
	name:'Login',
	components: {
		SuperForm
	},
  setup() {
		const $router = useRouter();
		const {login} = api;
    const state = reactive({
      dynamicValidateForm:{
        username:'test',
        password:'',
        key:'',
        code:''
			},
			newUser:''
		});
		const user = computed(() => {
			return state.dynamicValidateForm.username[0].toUpperCase() + state.dynamicValidateForm.username.slice(1);
		})

		const methods = {
			sendLogin: async (data) => {
				const res = await login.login({
					...data
				})
				return res;
			}
		}
		const config = [
	{
		prop:'username',
		label:'用户名',
		type: 'input'
	},
	{
		prop:'password',
		label:'密码',
		type: 'input'
	},
	{
		prop:'code',
		label:'验证码',
		type: 'input'
	},
	{
		prop:'key',
		label:'选择身份',
		type: 'input'
	},
	{
		type: 'button',
		title:'登录',
		hanldcClick: async ()=> {
			try{
				// const res = await a.value.validate();
				// console.log('res',res);
				// if(res){
					// 登录
					console.log(state.dynamicValidateForm);
					await methods.sendLogin(state.dynamicValidateForm);
					// 登录成功获取路由权限
					const {data:routes} = await login.getRouters();
					// 动态添加路由
					// addRoutes(routes);
					window.localStorage.setItem('bw_routes',JSON.stringify(routes));
					$router.push(routes[0].path);
				// }
			} catch(error) {
				console.log(error);
			}
		}
	}
];
    return {
			...toRefs(state),
			...methods,
			user,
			config
    };
  }
}
</script>
<style lang="scss" scoped>
.parent {
	height: 1000px;
}
</style>
