<template>
	<div>
		<super-table :data="list" :columns="columns">
			<template #optionheader> <i>11</i> 操作 </template>
			<template #optionrow>
				<el-button> 删除 </el-button>
			</template>
		</super-table>
		<!-- <el-table
    :data="list"
    style="width: 100%">
    <el-table-column
			prop="date"
      label="日期"
      width="180">
    </el-table-column>
    <el-table-column
      label="姓名"
      prop="name"
      width="180">
    </el-table-column>
    <el-table-column label="操作">
      <template #default="{row}">
        <el-button>
          删除--{{row.name}}
        </el-button>
      </template>
    </el-table-column>
  </el-table> -->
	</div>
</template>
<script>
import { reactive, toRefs, onMounted } from 'vue';
import SuperTable from "@/components/SuperTable";
export default {
  components:{
    SuperTable
  },
	setup() {
    const columns = [
      {
        label:"日期",
        prop:"date"
      },
      {
        label:"姓名",
        prop:"name"
      },
      {
        label:"操作",
        slot: {
          title:'optionheader',  //列头
          body:'optionrow' // 列内容
        }
      }
    ];
		const state = reactive({
			list:[]
		})
		const getData = () =>{
			state.list = [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }]
		}
		const init = () => {
			getData();
		}

		onMounted(() => {
			init();
		})
		return {
      ...toRefs(state),
      columns
		}
	}
}
</script>
<style lang=""></style>
