<template>
	<el-table :data="data" v-bind="$attrs">
		<template v-for="(item,i) in columns" :key="i">
			<el-table-column v-if="item.slot" v-bind="item">
				<template #header v-if="item.slot.title">
					<slot :name="item.slot.title" />
				</template>
				<template #default="scope" v-if="item.slot.body">
					<slot :name="item.slot.body" :data="scope.row" />
				</template>
			</el-table-column>
			<el-table-column v-else v-bind="item"></el-table-column>
		</template>
	</el-table>
</template>
<script>
export default {
  props:{
    data: {
      type:Array
    },
    columns:{
      type:Array
    }
  }
}
</script>
<style lang=""></style>
